---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}{{ '/' | url }}</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}{{ '/about/' | url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
  {%- for review in collections.reviews %}
  <url>
    <loc>{{ site.url }}{{ review.url | url }}</loc>
    <lastmod>{{ review.date | date('iso') }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {%- endfor %}
</urlset>
